variable "zone" {
  default = "ru-central1-a"
}

variable "yandex-token" {
  default = "$YANDEX_OAUTH"
}

variable "yandex-cloud-id" {
  default = "$CLOUD_ID"
}

variable "yandex-folder-id" {
  default = "$FOLDER_ID"
}
